textarea {
  width: 100%;
  color: black;
  font-size: 14px;
  line-height: 24px;
  appearance: none;
  border: none;
  border-bottom: 1px solid grey;
  background: none;
  resize: none;
  outline: none;
  // min-height: 50px;
  // max-height: 320px;
  max-height: 225px;
}
