.component-list {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "header header header";
  justify-items: center;
  align-items: center;
}

.component-list > h3{
  grid-area: header;
  text-decoration: underline;
}

