.note {
  margin-left: 16px;
  width: 220px;
  height: 120px;
  text-align: center;

  .title {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 8px;
    outline: none;
    justify-content: center;

    button {
      display: inline;
      text-align: left;
      background-color: transparent;
    }

    h4 {
      font-size: 16px;

      span {
        color: black;
      }
    }

    .metadata {
      margin-top: 5px;
      font-size: 12px;
      color: black;
    }

    .expand-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transform-origin: 50% 50%;
      transform: rotate(180deg);
      transition: all .3s linear;

      &.expanded {
        transform: initial;
        transition: all .3s linear;
      }
    }
  }

  .text {
    margin-top: 18px;
    display: none;
    animation: fade-out 0.2s;

    &.expanded {
      display: block;
      animation: fade-in 0.2s;
    }

    // TODO: consider including transitions in the theme
    @keyframes fade-in {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    // TODO: consider including transitions in the theme
    @keyframes fade-out {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }
  }

  hr {
    width: 100%;
    margin: 24px auto 25px auto;
  }
}
